//Variables de colores
$marengo: #151c1f;
$rojo: #ff1744;
$negro: #212121;
$gris: #5c5c5c;
$paypal: #003087;
$sombra: #ccc;

$rojosombra: hsl(348, 100%, 44%);
$paypalsombra: hsl(219, 87%, 16%);

//Variables de fuente
$emoji: 'Emoji One';
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

//Imports
@import url('https://fonts.googleapis.com/css?family=Raleway:900|Roboto:300');

//Estilo
body{
    display: grid;
    font-size: 1vw;
    background: $marengo;
    width: 100%;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 10% auto;
    grid-template-areas: 'mleft header header mright' 'mleft content content mright';
    color: $gris;
    font-family: $roboto;
    font-size: 1.5rem;
    font-weight: 300;
    a{
        text-decoration: none;
        color: $gris;
        transition: color 300ms ease-in-out;
        &:hover{
            color: $rojo;
        }
    }
    i.load-icon{
        margin: 0 auto;
        animation: loading;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
    }
    i.em-svg{
        font-size: 1.2rem;
        vertical-align: middle;
    }

    header{
        grid-area: header;
        background: url('../img/header_bg.jpg'), $rojo;
        background-repeat: no-repeat;
        background-size: cover;

        img{
            height: 18rem;
            display: block;
            margin: 0 auto;
            margin-bottom: -5rem;
            position: relative;
        }
    }

    #contenido{
        grid-area: content;
        background: white;
        padding: 2rem;
        padding-top: 5rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "content-left content-right";

        section.col:first-child{
            grid-area: content-left;
            padding-right: 1.5rem;
            border-right: 1px solid $sombra;
        }
        section.col:last-child{
            grid-area: content-right;
            padding-left: 1.5rem;
        }

        h2{
            color: $negro;
            font-family: $raleway;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 900;
        }
        p{
            text-align: justify;
        }
        h3{
            text-transform: uppercase;
            font-size: 1.2rem;
            color: $gris;
        }
        audio{
            width: 100%;
        }
        ul{
            list-style-type: none;
            -webkit-margin-before: 0rem;
            -webkit-margin-after: 0rem;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 0rem;
            li{
                list-style-type: none;
            }
        }
        button{
            width: 100%;
            height: 3rem;
            border: none;
            color: white;
            font-family: $roboto;
            font-size: 1.5rem;
            font-weight: 300;
            cursor: pointer;
            outline: none;
            transition: box-shadow 200ms ease-in-out;
        }
        .btn-red{
            background: $rojo;
            &:hover{
                box-shadow: 0px 10px 0px $rojosombra;
            }
        }
        .btn-blue{
            background: $paypal;
            &:hover{
                box-shadow: 0px 10px 0px $paypalsombra;
            }
        }
    }
}

//Reproductor
#player{
    div.player-content{
        background: #f1f3f4;
        padding: 1rem;
        border-radius: 0.3rem;
        h3{
            text-transform: uppercase;
            font-size: 1rem;
            color: $negro;
            padding: 0rem;
            margin: 0rem;
            letter-spacing: 0.1rem;
            i{
                color: $rojo;
            }
        }
    }
    div.player-content{
        #audio-title,
        #audio-player{
            display: none;
        }
    }
}
//Audioteca
#audioteca-list{
    background: #f1f3f4;
    border-radius: 0.3rem;
    li.season:first-child > h3{
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
    li.season:last-child > h3{
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
    li.season{
        h3.season-title{
            background: $gris;
            color: white;
            margin: 0;
            padding: 1rem 0;
            padding-left: 1rem;

            i.fa-calendar{
                margin-right: 2rem;
            }

            span.load-message{
                float: right;
                padding-right: 2rem;
                color: white;
            }
            
            i.toggle-season-list{
                color: white;
                display: none;
                cursor: pointer;
                float: right;
                margin-right: 2rem;
                z-index: 99;
                border-radius: 0.3rem;
            }
        }
        ul.season-episodes{
            display: none;

            li.episode{
                display:flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;
                h3.episode-title{
                    flex-grow: 1;
                    overflow-wrap: break-word;
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: 0.1rem;
                }
                i{
                    padding: 0 1rem;
                }
            }
        }
    }
}
//Animations
@keyframes loading{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}
//Responsive
@media (max-width: 1000px){
    body{
        grid-template-columns: 100%;
        grid-template-rows: 10% auto;
        grid-template-areas: 'header' 'content';
    }
    #contenido{
        padding: 0 3rem !important;
        padding-top: 5rem !important;
        grid-template-rows: auto auto;
        grid-template-columns: auto !important;
        grid-template-areas: "content-left" "content-right" !important;

        section.col:first-child{
            grid-area: content-left;
            padding-right: 0 !important;
            border-right: none !important;
        }
        section.col:last-child{
            grid-area: content-right;
            padding-left: 0 !important;
        }
    }
}
@media (max-width: 400px){
    body{
        font-size: 1rem !important;
        background: white;
    }
    header{
        background: $rojo !important;
        img{
            height: 9rem !important;
        }
    }
    #contenido{
        width: 100% !important;
        margin: 0 auto !important;
        padding: 0rem !important;
        padding-top: 5rem !important;
        section > div{
            padding: 1.5rem 0 !important;
            width: 80% !important;
            margin: 0 auto !important;
        }
        h2,
        p{
            -webkit-margin-before: 0em !important;
            -webkit-margin-after: 0em !important;
        }
        h2{
            font-size: 1.2rem !important;
        }
        button{
            font-size: 1.2rem !important;
        }
    }
}