@import url("https://fonts.googleapis.com/css?family=Raleway:900|Roboto:300");
body {
  display: grid;
  font-size: 1vw;
  background: #151c1f;
  width: 100%;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 10% auto;
  grid-template-areas: 'mleft header header mright' 'mleft content content mright';
  color: #5c5c5c;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300; }
  body a {
    text-decoration: none;
    color: #5c5c5c;
    transition: color 300ms ease-in-out; }
    body a:hover {
      color: #ff1744; }
  body i.load-icon {
    margin: 0 auto;
    animation: loading;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
    animation-iteration-count: infinite; }
  body i.em-svg {
    font-size: 1.2rem;
    vertical-align: middle; }
  body header {
    grid-area: header;
    background: url("../img/header_bg.jpg"), #ff1744;
    background-repeat: no-repeat;
    background-size: cover; }
    body header img {
      height: 18rem;
      display: block;
      margin: 0 auto;
      margin-bottom: -5rem;
      position: relative; }
  body #contenido {
    grid-area: content;
    background: white;
    padding: 2rem;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "content-left content-right"; }
    body #contenido section.col:first-child {
      grid-area: content-left;
      padding-right: 1.5rem;
      border-right: 1px solid #ccc; }
    body #contenido section.col:last-child {
      grid-area: content-right;
      padding-left: 1.5rem; }
    body #contenido h2 {
      color: #212121;
      font-family: "Raleway", sans-serif;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 900; }
    body #contenido p {
      text-align: justify; }
    body #contenido h3 {
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #5c5c5c; }
    body #contenido audio {
      width: 100%; }
    body #contenido ul {
      list-style-type: none;
      -webkit-margin-before: 0rem;
      -webkit-margin-after: 0rem;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0rem; }
      body #contenido ul li {
        list-style-type: none; }
    body #contenido button {
      width: 100%;
      height: 3rem;
      border: none;
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 300;
      cursor: pointer;
      outline: none;
      transition: box-shadow 200ms ease-in-out; }
    body #contenido .btn-red {
      background: #ff1744; }
      body #contenido .btn-red:hover {
        box-shadow: 0px 10px 0px #e0002d; }
    body #contenido .btn-blue {
      background: #003087; }
      body #contenido .btn-blue:hover {
        box-shadow: 0px 10px 0px #051e4c; }

#player div.player-content {
  background: #f1f3f4;
  padding: 1rem;
  border-radius: 0.3rem; }
  #player div.player-content h3 {
    text-transform: uppercase;
    font-size: 1rem;
    color: #212121;
    padding: 0rem;
    margin: 0rem;
    letter-spacing: 0.1rem; }
    #player div.player-content h3 i {
      color: #ff1744; }
#player div.player-content #audio-title,
#player div.player-content #audio-player {
  display: none; }

#audioteca-list {
  background: #f1f3f4;
  border-radius: 0.3rem; }
  #audioteca-list li.season:first-child > h3 {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; }
  #audioteca-list li.season:last-child > h3 {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; }
  #audioteca-list li.season h3.season-title {
    background: #5c5c5c;
    color: white;
    margin: 0;
    padding: 1rem 0;
    padding-left: 1rem; }
    #audioteca-list li.season h3.season-title i.fa-calendar {
      margin-right: 2rem; }
    #audioteca-list li.season h3.season-title span.load-message {
      float: right;
      padding-right: 2rem;
      color: white; }
    #audioteca-list li.season h3.season-title i.toggle-season-list {
      color: white;
      display: none;
      cursor: pointer;
      float: right;
      margin-right: 2rem;
      z-index: 99;
      border-radius: 0.3rem; }
  #audioteca-list li.season ul.season-episodes {
    display: none; }
    #audioteca-list li.season ul.season-episodes li.episode {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0; }
      #audioteca-list li.season ul.season-episodes li.episode h3.episode-title {
        flex-grow: 1;
        overflow-wrap: break-word;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1rem; }
      #audioteca-list li.season ul.season-episodes li.episode i {
        padding: 0 1rem; }

@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@media (max-width: 1000px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 10% auto;
    grid-template-areas: 'header' 'content'; }

  #contenido {
    padding: 0 3rem !important;
    padding-top: 5rem !important;
    grid-template-rows: auto auto;
    grid-template-columns: auto !important;
    grid-template-areas: "content-left" "content-right" !important; }
    #contenido section.col:first-child {
      grid-area: content-left;
      padding-right: 0 !important;
      border-right: none !important; }
    #contenido section.col:last-child {
      grid-area: content-right;
      padding-left: 0 !important; } }
@media (max-width: 400px) {
  body {
    font-size: 1rem !important;
    background: white; }

  header {
    background: #ff1744 !important; }
    header img {
      height: 9rem !important; }

  #contenido {
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0rem !important;
    padding-top: 5rem !important; }
    #contenido section > div {
      padding: 1.5rem 0 !important;
      width: 80% !important;
      margin: 0 auto !important; }
    #contenido h2,
    #contenido p {
      -webkit-margin-before: 0em !important;
      -webkit-margin-after: 0em !important; }
    #contenido h2 {
      font-size: 1.2rem !important; }
    #contenido button {
      font-size: 1.2rem !important; } }

/*# sourceMappingURL=main.css.map */
